/*--- Estilos Generales ---*/
body {
    background: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.seccioncentral {
    background: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    width: 520px;
    height: 645px;
    margin-left: auto;
    margin-right: auto;
}

/*--- MAIN ---*/
#main {
    width:80%;
    margin:0 auto;
    text-align: center;
    height: 100px;
}

#main::before{
    content: '';
    display: inline-block;
    height: 50%;
    vertical-align: middle;
    margin-right: -0.25em;
    /*background: #9DC425; width: 5px;*/
}

/*Sección principal del documento*/
form{
    /*border: 2.5px dashed #FF7519;*/
    /*background: #EFEFEF url(img/bgfondo.jpg) 0 0 repeat;*/
    width: 360px;
    margin: 30px auto;
    text-align: center;
    border-radius: 4px;
}

form header{
    padding-top: 15px;
}

form h1{
    text-align: center;
    color:#001;
    font-weight: normal;
    font-size: 30pt;
    margin: 10px 0px 20px 0px;
}
form input{
    width: 220px;
    height: 25px;
    padding: 0px 10px;
    background-color: #EFEFEF;
    color: #000;
    text-align: center;
    margin: 10px auto;
    border: 2px solid #FF7519;
    border-radius: 3px;
}
form button{
    width: 120px;
    margin: 20px auto;
    padding: 3px 0;
    border: 0.5px solid #232323;
    background: #000000 none repeat scroll 0% 0%;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
}
form button:hover{
    background: #FF7519;
    border: 0.5px solid #FF7519;
    color: #000;
}
form button:active{
    background: #000;
}

/* Pie de página*/
footer {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 24px;
    padding: 15px 0;
    border-top: dotted;
}
footer h1{
    font-size:18px;
}